<div class="col-10 offset-1" about>
    <h1> About Splurty</h1>
    
    <p>
    Splurty was built by <a target="_blank" href="https://github.com/Phatkid98/firehose">Miguel</a> for the Firehose Project coding course through the help of Firehose's creators, mentors, and other would be coders. 
  </p>
  <br />
  
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>
  
  </div>

<div class="row">
    <div class="col-12 col-sm-4">
        <%= image_tag 'selfportrait1.JPG', class: 'img-fluid' %>
    </div>
    
    <div class="col-12 col-sm-7 offset-sm-1">
        <h2 class='text-center'> Miguel Bustamante</h2>
        <br />
        <p>
            Miguel is a seasoned writer and website content manager who is trying his hand at web development
        </p>
    </div>
</div>

<br class='clear'/>
<br />
<br />
<br />