<div class="col-10 offset-1" contact>
  <h1><u>Contact Miguel</u></h1>
    
  <br />
  <br />
    
  <div class="contact">
    <p>
      If you would like to contact Miguel for any reason, please send any and all emails to: 
     &nbsp; &nbsp; <a href="mailto:phatbastard81@yahoo.com">Here</a> 
   </p>
  </div>
   
  <br />
  

<br class='clear'/>